<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/dartweb.css">
    <script type="text/javascript" src="/simple-reload.js"></script>
</head>
<body onload="connect()" id="top">
{{>game-body}}
</body>
</html>
